/vendor
/node_modules
.env
.phpunit.result.cache
/bootstrap/cache/*.php
/storage/framework/cache/data
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs
Homestead.json
Homestead.yaml
